<h4><%=@course.name%> - Units</h4>
<table class="table">
<tr>
	<th colspan="2">Unit</th>
	<th>Time</th>
	<th>Download</th>
</tr>
<%@units.each do |unit|%>
<tr>
	<td><%=unit.number%></td>
	<td style="width:100%;">
		<audio class="mp3_player" preload="none" controls>
			<source src="<%=unit.audio.url%>" type="audio/mpeg">
			"Your browser does not support the audio element."
		</audio>
	<td><%=unit.time%></td>
	<td><%=link_to 'Download', "/units/#{unit.id}", target: '_blank'%></td>
</tr>
<%end%>
<tr>
  <td colspan="4">
    <%= will_paginate @units, renderer: BootstrapPagination::Rails %>
    <a class="btn btn-default pull-right" href="/courses/<%=@course.id%>/units/new">
       New Unit  <span class="glyphicon glyphicon-plus"></span>
    </a>
  </td>
</tr>
</table>
