<!DOCTYPE html>
<html>
<head>
  <title>Tenjin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= mp3_player_headers %>
  <%= csrf_meta_tags %>
</head>
<body class="<%=theme_class%>">
<div class="container">
<div class="col-md-8 col-md-offset-2">
<h3 class="header"><a href="/">Tenjin</a></h3>
<h6 class="header pull-right">
  <%if current_user%>
    <%=link_to current_user.name, user_path(current_user.name)%> | <%=link_to 'logout', logout_path, method: :delete%>
  <%else%>
    <%=link_to 'Login', login_path %>
<%end%>
</h6>
<%= yield %>
</div>
</div>
</body>
</html>
